
<section class="body-container">
    <h3>Descubrí los montruos</h3>
    <div class="monsters-container">
        <div class="monster-demogorgon">
            <div class="img-monster3">
                <img src="../../../../assets/demogorgon.png" alt="imagen de montruos">
                <button class="btn btn-demogorgon">Demogorgon</button>
            </div>
        </div>
        <div class="monster-mind-flyer">
            <div class="img-monster2">
                <img src="../../../../assets/mind-flayer.png" alt="imagen de montruos">
                <button class="btn btn-mind-flyer">Mind flyer</button>
            </div>
        </div>
        <div class="monster-vecna">
            <div class="img-monster1">
                <img src="../../../../assets/vecna.png" alt="imagen de montruos">
                <button class="btn btn-vecna">Vecna</button>
            </div>
        </div>
    </div>
</section>