<mat-toolbar class="navBar">
    <button mat-icon-button class="example-icon disable"  aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Stranger Things</span>
    <span class="example-spacer"></span>
    <ul class="list">
      <li><a href="">INICIO</a></li>
      <li><a href="" (click)="showInfo($event)">INFORMACION</a></li>
      <li><a href="#mainCharacters">PERSONAJES</a></li>
      <li><a href="#choiceMonster">MONSTRUOS</a></li>
    </ul>
  </mat-toolbar>