
@media(max-width:699px) {
      div{
        position: absolute;
      }
      .container{
        position: absolute;
        width: 100%;
        height: 290px;
        /* left: -80px; */
        top: 23px;
        overflow: hidden;
        
        z-index: -1;
      }

    img{  
        position: absolute;
        width: 600px;
        height: 289.03px;
        left: -130px;
        top: 30px;
    }
    .displayOff{
      display: block;
      left: -100%;
      width: 85%;
      height: 750px;
      top: 190px;
      z-index: 1;
      background-color: black;
      border-radius: 4px;
      box-shadow: 1px 1px 3px 2px white;
      transition: all 1s;
      overflow: hidden;

    }
    .displayOff img{
      width: 350px;
      height: 750px;
      position: absolute;
      left: -10px;
      top: 0px;
      background-repeat: none;
      background-size: cover;
      opacity: 60%;
    }
    .info-container{
      position: absolute;
        width: 85%;
        height: 750px;
        left: 6%;
        top: 190px;
        z-index: 1;
        background-color: black;
        border-radius: 4px;
        box-shadow: 1px 1px 3px 2px white;
        transition: all 1s;
        overflow: hidden;
    }
    .info-container img{
      width: 350px;
      height: 750px;
      position: absolute;
      left: -10px;
      top: 0px;
      background-repeat: none;
      background-size: cover;
      opacity: 60%;
    }
    .box-info{
      color: white;
      position: absolute;
      width: 90%;
      height: 650px;
      left: 20px;
      top: 10px;
      z-index: 2;
    }
    .box-info h3{
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 600;
      font-size: 15px;
      line-height: 19px;
      color: #FFFFFF;
    }
    .box-info p {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 11px;
      line-height: 15px;
      color: #FFFFFF;
    }

  
}

@media screen and (min-width:700px) {
    div{
        position: absolute;
        width: 100%;
        height: 400px;
        left: 0px;
        top: 5px;
        z-index: -1;
      }

    img{  
        position: absolute;
        width: 90%;
        height: 459px;
        left: 60px;
        top: 10px;
    }
    .displayOff{
      display: block;
      left: -100%;
      width: 85%;
      height: 700px;
      top: 80px;
      z-index: 1;
      background-color: black;
      border-radius: 4px;
      box-shadow: 1px 1px 3px 2px white;
      transition: all 1s;

    }
    .displayOff img{
      width: 100%;
      height: 700px;
      position: absolute;
      left: 0px;
      top: 0px;
      background-repeat: none;
      background-size: cover;
      opacity: 70%;
    }
    .info-container{
      position: absolute;
        width: 85%;
        height: 700px;
        left: 6%;
        top: 80px;
        z-index: 1;
        background-color: black;
        border-radius: 4px;
        box-shadow: 1px 1px 3px 2px white;
        transition: all 1s;
    }
    .info-container img{
      width: 100%;
      height: 700px;
      position: absolute;
      left: 0px;
      top: 0px;
      background-repeat: none;
      background-size: cover;
      opacity: 70%;
    }
    .box-info{
      color: white;
      position: absolute;
      width: 90%;
      height: 550px;
      left: 40px;
      top: 10px;
      z-index: 2;
    }
    .box-info h3{
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 600;
      font-size: 30px;
      line-height: 32px;
      color: #FFFFFF;
    }
    .box-info p {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #FFFFFF;
    }
}